.headline {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    color: $color-dark;
    text-align: center;
    letter-spacing: 00.03em;
    margin: 0;
}

.headline-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 20px;
}